week-6-cy-automation/cypress/e2e/cypress.config.js
week-6-cy-automation/cypress/e2e/cypress.config.js
week-6-cy-automation/cypress/e2e/cypress.config.js
# Ignore Cypress e2e files
# Ignore Cypress e2e files
cypress/e2e/1-getting-started/
cypress/e2e/2-advanced-examples/
cypress/fixtures/
cypress/support/
cypress.config.js
cypress/e2e/cypress.config.js
cypress/e2e/cypress/e2e/1-getting-started/todo.cy.js
  
     cypress/e2e/cypress/e2e/2-advanced-examples/window.cy.js
         cypress/e2e/cypress/fixtures/example.json
         cypress/e2e/cypress/support/commands.js
    cypress/e2e/cypress/support/e2e.js